body {
	height:1500px; 
	background-color:#80aaff; 
	padding-top: 70px;
}

.navbar-collapse {
  text-align:center;
  }
.navbar-nav {
    display:inline-block;
    float:none;
  }
/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */
.container-fluid {

}
.navbar-default .navbar-toggle .icon-bar {
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#aboutContainer {
  width: 100px;
}
