body {
	/*height:1500px; */
	background-color:#80aaff; 

}
.album {
  background-color: black;
}
.navbar {
  }
.mx-auto {
  } 
.nav-item {
  padding: 0px 10px;
  }
.navbar-nav li a {
  color: black !important;
  border-bottom: 1px solid black;
  }
/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */
.container {
  width: 1000px !important;
  background-color: white !important;
}
.navbar-default .navbar-toggle .icon-bar {
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}