body {
	height:1500px; 
	background-color:#80aaff; 

}

.navbar .navbar-collapse {
  text-align:center;
  }
.mx-auto {
  } 
.nav-item {
  padding: 0px 10px;
  }
/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */
.container-fluid {

}
.navbar-default .navbar-toggle .icon-bar {
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}